@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

img {
  -webkit-user-drag: none;
  pointer-events: none;
  /* Disable right-clicking */
  /* user-drag: none; */
}

/* Change the background color of the selected menu item */
.ant-menu-item-selected {
  background-color: #F8F9FF !important;
}

/* Change the text color of the selected menu item */
.ant-menu-item-selected a {
  color: #7E6FF2 !important;
  font-weight: 500;
}

/* Change the icon color of the selected menu item */
.ant-menu-item-selected .ant-menu-item-icon {
  color: #7E6FF2 !important;
}

::-webkit-scrollbar {
  display: none;
}
